################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Bulk-Sequential-Launcher/bin/Debug
/Bulk-Sequential-Launcher/obj/Debug
*.TMP
/Bulk-Sequential-Launcher/bin/Release
/Bulk-Sequential-Launcher/obj/Release
